@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.square {
    color: white;
    padding: 5px;
    font-weight: 400;
    font-size: x-large;
    border-radius: 10px;
}


.container-fluid {
    
    margin-top: 0.5%;
}

.square-brand {
    background-color: rgb(81, 83, 190);
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 630;
    border-radius: 7px;
}

.title-square {
    background-color: rgb(81, 126, 190);
    padding: 32px;
    font-weight: 630;
    border-radius: 7px;
    border-radius: 2vw;
    color: white;
}

.styled-text {
    font-size: 24px;
    text-align: center;
    padding: 0 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.control-buttons {
    text-align: center;
    padding: 0 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.control-buttons-main {
    text-align: center;
    padding: 0 10%;
}

.image-container {
    display: flex;
    justify-content: center;
  }

.title-square-fill {
    background-color: rgb(81, 126, 190);
    padding: 32px;
    font-weight: 630;
    color: white;
}

.square-brand:hover {
    color: rgb(220, 215, 248);
}

.left-padding {
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-170px);

}

.bg-dark {
    background-color: rgb(55, 60, 66);
}

.title-bg {
    background-color: rgb(42, 43, 69);
}

.bg-grey {
    background-color: rgb(218, 218, 218);
}

.bg-dark-grey {
    background-color: rgb(106, 110, 116);
}


.navbar-brand {
    margin-left: 3vw;
}

.navbar-toggler {
    margin-right: 5%;
}

.btn-link {
    color: #000000;
}

.block-about>div {
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}





.navbar-brand,
.nav-link {
    color: white;
    font-weight: 500;
    font-size: 120%;
}


@media screen and (max-width: 550px) {
    .text-icon {
        font-size: 40px;
    }
}

@media screen and (min-width: 550px) {
    .text-icon {
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .text-icon {
        font-size: 60px;
    }
}

.my-button {
    border: 0px;
    border-radius: 3vw;
    max-width: 70vw;
}

.contact-link:hover {
    color: rgb(118, 118, 118);
}

.contact-link:link,
.contact-link:visited {
    text-decoration: none;
    color: #000000;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }